* 
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'FiraGo', sans-serif


.container 
  padding: 38px 162px


  @font-face 
    font-family: 'FiraGo'
    src: url('../../FiraGo-Regular.otf') format('opentype')
    font-weight: 400
    font-style: normal

@font-face 
    font-family: 'FiraGo'
    src: url('../../FiraGo-Medium.otf') format('opentype')
    font-weight: 500
    font-style: normal

@font-face 
    font-family: 'FiraGo'
    src: url('../../FiraGo-Bold.otf') format('opentype')
    font-weight: 700
    font-style: normal


